/* Import Google Fonts first */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Tailwind and base imports with layers */
@import "./base.css" layer(components);
@import "tailwindcss/utilities" layer(utilities);

/* Your theme variables */
@theme {
  --font-sans: Jost, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-title-font: Open Sans, sans-serif;
  --font-body-font: Montserrat, sans-serif;

  --color-theme-color: #ed4c07;
  --color-light-bg: #fff6f1;
  --color-dark-bg: #000000;
  --color-theme-white: #ffffff;
  --color-accent-color: #ff6b2c;
  --color-light-text: #5b4a42;
  --color-dark-text: #000000;
  --color-primary-text: #101828;

}

/* Utilities layer */
@layer utilities {
  .headerTopMenu {
    @apply flex items-center gap-x-1 border-r border-r-gray-400 px-4;
  }
}

/* Global button hover cursor */
button:hover {
  cursor: pointer;
}

button:disabled:hover {
  cursor: not-allowed;
}
